.app {
  text-align: center;
  scroll-behavior: smooth;
}

.header {
  background-color: #ebc900;
  font-family: LetteraProLight, monospace;
  height: 450px;
  padding: 20px;
  color: white;
  opacity: 1;
}

.intro {
  position: absolute;
  left: 30%;
  top: 20%;
  
}

.intro h1 {
  font-size: 40px;
  color: white;
}

.name {
  font-size: 80px;
  color: black;
}

.intro h2 {
  font-size: 40px;
  color: maroon;
}

.contact {
  height: 250px;
  display: flex;
}

.email {
  background-color: #565658;
  width: 50%;
  display: block;
  align-items: center;
}

.email h2 {
  color: white;
  /* font: normal 50px 'Averta-Bold', helvetica, arial, sans-serif; */
  font: 40px LetteraProLight, monospace, bold;
  margin: 10%;
  word-wrap: break-word;
}

.resume {
  background-color: #cfd0d2;
  width: 50%;
  display: block;
  
}

.resume a {
  font: 40px LetteraProLight, monospace;
  /* margin-top: 50%; */
  color: black;

  
}

.quote {
  margin: 7% 13% 7% 13%;
  /* height: 400px; */
}

.quote a {
  font: 25px LetteraProLight, monospace, bold;
  letter-spacing: 1px;
  line-height: 60px;
  color: #47b475;
}

.img_row1 {
  height: 100%;
  display: flex;
  background-color: white;
  /* margin: 5%; */
  /* width: 100%; */
  overflow: hidden;
  color: white;
  margin: 0 10% 0 10%;
}

.img11 {
  width: 33.33%;
  display: block;
  height: 100%;
  
}

.img12 {
  width: 33.33%;
  display: inline-block;
}

.img13 {
  width: 33.33%;
  display: inline-block;
}

.container {
  position: relative;
  text-align: center;
  height: 100%;
}

.img11 .caption {
  font: 120% LetteraProLight, monospace, bold;
  position: absolute;
  bottom: 5%;
  left: 20%;
}

.img12 .caption {
  font: 120% LetteraProLight, monospace, bold;
  position: absolute;
  bottom: 5%;
  left: 30%;
}

.img13 .caption {
  font: 120% LetteraProLight, monospace, bold;
  position: absolute;
  bottom: 5%;
  left: 10%;
}

.img11 img {
  /* display: block; */
  max-width: 100%;
  max-height: 100%;
  /* z-index: 2; */
  /* height: 100%; */
  
}

.img12 img {
  max-width: 100%;
  max-height: 100%;
}

.img13 img {
  max-width: 100%;
  max-height: 100%;
}

.img_row2 {
  height: 100%;
  display: flex;
  background-color: white;
  /* margin: 5%; */
  /* width: 100%; */
  overflow: hidden;
  color: white;
  margin: 0 10% 0 10%;
}

.img21 {
  width: 33.33%;
  display: block;
  
  
}

.img22 {
  width: 33.33%;
  display: inline-block;
  
}

.img23 {
  width: 33.33%;
  display: inline-block;
  
}

.container {
  position: relative;
  text-align: center;
  height: 100%;
}

.img21 .caption {
  font: 110% LetteraProLight, monospace, bold;
  position: absolute;
  bottom: 5%;
  left: 5%;
}

.img22 .caption {
  font: 110% LetteraProLight, monospace, bold;
  position: absolute;
  bottom: 5%;
  left: 2%;
}

.img23 .caption {
  font: 110% LetteraProLight, monospace, bold;
  position: absolute;
  bottom: 5%;
  left: 5%;
}

.img21 img {
  /* display: block; */
  max-width: 100%;
  max-height: 100%;
  /* z-index: 2; */
  /* height: 100%; */
  
}

.img22 img {
  max-width: 100%;
  max-height: 100%;
}

.img23 img {
  max-width: 100%;
  max-height: 100%;
}

.img_row3 {
  height: 100%;
  display: flex;
  background-color: white;
  /* margin: 5%; */
  /* width: 100%; */
  overflow: hidden;
  color: white;
  margin: 0 10% 0 10%;
}

.img31 {
  width: 33.33%;
  display: block;
  
  
}

.img32 {
  width: 33.33%;
  display: inline-block;
  
}

.img33 {
  width: 33.33%;
  display: inline-block;
  
}

.container {
  position: relative;
  text-align: center;
  height: 100%;
}

.img31 .caption {
  font: 110% LetteraProLight, monospace, bold;
  position: absolute;
  bottom: 5%;
  left: 5%;
}

.img32 .caption {
  font: 110% LetteraProLight, monospace, bold;
  position: absolute;
  bottom: 5%;
  left: 2%;
}

.img33 .caption {
  font: 120% LetteraProLight, monospace, bold;
  position: absolute;
  bottom: 5%;
  left: 5%;
}

.img31 img {
  /* display: block; */
  max-width: 100%;
  max-height: 100%;
  /* z-index: 2; */
  /* height: 100%; */
  transform: rotate(0);
}

.img32 img {
  max-width: 100%;
  max-height: 100%;
}

.img33 img {
  max-width: 100%;
  max-height: 100%;
}

.img_row4 {
  height: 100%;
  display: flex;
  background-color: white;
  /* margin: 5%; */
  /* width: 100%; */
  overflow: hidden;
  color: white;
  margin: 0 10% 10% 10%;
}

.img41 {
  width: 33.33%;
  display: block;
  
  
}

.img42 {
  width: 33.33%;
  display: inline-block;
  
}

.img43 {
  width: 33.33%;
  display: inline-block;
  
}

.container {
  position: relative;
  text-align: center;
  height: 100%;
}

.img41 .caption {
  font: 110% LetteraProLight, monospace, bold;
  position: absolute;
  bottom: 5%;
  left: 5%;
}

.img42 .caption {
  font: 110% LetteraProLight, monospace, bold;
  position: absolute;
  bottom: 5%;
  left: 20%;
}

.img43 .caption {
  font: 120% LetteraProLight, monospace, bold;
  position: absolute;
  bottom: 5%;
  left: 5%;
}

.img41 img {
  /* display: block; */
  max-width: 100%;
  max-height: 100%;
  /* z-index: 2; */
  /* height: 100%; */
  transform: rotate(0);
}

.img42 img {
  max-width: 100%;
  max-height: 100%;
}

.img43 img {
  max-width: 100%;
  max-height: 100%;
}

.footer {
  height: 50px;
  /* background-color: #666; */
  color: black;
  text-align: center;
  margin-bottom: 10%;
}

.footer img {
  margin: 2% 2% 0 2%;
}

.footer h2 {
  font: 140% LetteraProLight, monospace, bold;
}

.glitch {
  color: white;
  font-size: 50px;
  position: relative;
  width: 400px;
  margin: 0 auto;
}

@keyframes noise-anim {
  0% {
    clip-path: inset(74% 0 27% 0);
  }
  5% {
    clip-path: inset(26% 0 19% 0);
  }
  10% {
    clip-path: inset(15% 0 21% 0);
  }
  15% {
    clip-path: inset(43% 0 25% 0);
  }
  20% {
    clip-path: inset(8% 0 20% 0);
  }
  25% {
    clip-path: inset(52% 0 5% 0);
  }
  30% {
    clip-path: inset(29% 0 10% 0);
  }
  35% {
    clip-path: inset(5% 0 79% 0);
  }
  40% {
    clip-path: inset(76% 0 19% 0);
  }
  45% {
    clip-path: inset(42% 0 53% 0);
  }
  50% {
    clip-path: inset(82% 0 10% 0);
  }
  55% {
    clip-path: inset(84% 0 2% 0);
  }
  60% {
    clip-path: inset(42% 0 15% 0);
  }
  65% {
    clip-path: inset(86% 0 4% 0);
  }
  70% {
    clip-path: inset(51% 0 7% 0);
  }
  75% {
    clip-path: inset(25% 0 46% 0);
  }
  80% {
    clip-path: inset(2% 0 31% 0);
  }
  85% {
    clip-path: inset(27% 0 73% 0);
  }
  90% {
    clip-path: inset(22% 0 48% 0);
  }
  95% {
    clip-path: inset(79% 0 1% 0);
  }
  100% {
    clip-path: inset(63% 0 9% 0);
  }
}
.glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 8px;
  text-shadow: -1px 0 white;
  top: 0;
  color: red;
  background: black;
  overflow: hidden;
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip-path: inset(30% 0 62% 0);
  }
  5% {
    clip-path: inset(62% 0 8% 0);
  }
  10% {
    clip-path: inset(99% 0 2% 0);
  }
  15% {
    clip-path: inset(3% 0 38% 0);
  }
  20% {
    clip-path: inset(11% 0 89% 0);
  }
  25% {
    clip-path: inset(93% 0 6% 0);
  }
  30% {
    clip-path: inset(63% 0 35% 0);
  }
  35% {
    clip-path: inset(95% 0 5% 0);
  }
  40% {
    clip-path: inset(83% 0 4% 0);
  }
  45% {
    clip-path: inset(26% 0 8% 0);
  }
  50% {
    clip-path: inset(40% 0 2% 0);
  }
  55% {
    clip-path: inset(9% 0 75% 0);
  }
  60% {
    clip-path: inset(3% 0 69% 0);
  }
  65% {
    clip-path: inset(79% 0 14% 0);
  }
  70% {
    clip-path: inset(39% 0 59% 0);
  }
  75% {
    clip-path: inset(67% 0 22% 0);
  }
  80% {
    clip-path: inset(12% 0 47% 0);
  }
  85% {
    clip-path: inset(6% 0 35% 0);
  }
  90% {
    clip-path: inset(68% 0 27% 0);
  }
  95% {
    clip-path: inset(97% 0 2% 0);
  }
  100% {
    clip-path: inset(99% 0 1% 0);
  }
}
.glitch::before {
  content: attr(data-text);
  position: absolute;
  left: -8px;
  text-shadow: 1px 0 white;
  top: 0;
  color: blue;
  background: black;
  overflow: hidden;
  animation: noise-anim-2 15s infinite linear alternate-reverse;
}



